@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to bottom,#9FC131,#D6D58E );
}
p{
    text-align: justify;
}
main{
    background-color: white;
    width: 700px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #042940;
    background-attachment: fixed;
}
h1{
    color:#042940;
    text-align: center;
}
h2{
    color:#DBF227
}